:root {
  --color-base: #003453;
  --color-border: #dde1e3;
  --background-hover: #d8f7fb;
}

body {
  margin: 1rem;
  color: var(--color-base);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

nav {
  border-color: var(--color-border);
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

li:not(:last-child) {
  border-bottom-color: var(--color-border);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

a {
  align-items: center;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 0.25rem;
  color: inherit;
  display: flex;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  padding-right: 1rem;
  padding-top: 1rem;
  text-decoration: none;
}

a:hover,
a:focus,
a[aria-current="page"] {
  background: var(--background-hover);
  border-color: var(--color-base);
}

a[aria-current="page"] {
  font-weight: 600;
}

svg {
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  margin-right: 0.5rem;
  width: 1.5rem;
}

span {
  display: block;
}

.visually-hidden {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 30rem) {
  ul {
    flex-direction: row;
  }
  
  li {
    flex-basis: 0px;
  }

  li:not(:last-child) {
    border-bottom: none;
    border-right-color: #CCC;
    border-right-style: solid;
    border-right-width: 1px;
  }
  
  a {
    border-left: none;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0.25rem;
    font-size: 0.875rem;
    flex-basis: 0px;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
  }
  
  svg {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}
